html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

html {
    font-size: 16px;
}

body {
    letter-spacing: .05em;
    color: #171717;
    font-family: "Noto Serif", "Noto Serif JP", serif;
    ;
}

img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

section {
    padding: 100px 0 70px;
}

@media(max-width:768px) {
    section {
        padding: 100px 0 40px;
    }
}

/* ヘッダー */

header {
    font-style: italic;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#header.scroll {
    position: fixed;
    background-color: #282f35;
    transition: .3s;
}

h1 a {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0 20px;
    font-size: 1.1rem;
    font-weight: 700;
}

header nav ul li a {
    color: #FFF;
}

.hamburger {
    display: none;
}

@media(max-width:768px) {

    header {
        z-index: 1;
        padding-bottom: 10px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #282F35;
    }

    header nav {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        /*ボタン内側の基点となるためrelativeを指定*/
        cursor: pointer;
        width: 30px;
        height: 25px;
        z-index: 999;
    }

    .hamburger span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        height: 4px;
        border-radius: 3px;
        background: #fff;
        width: 100%;
    }

    .hamburger span:nth-of-type(1) {
        top: 5px;
    }

    .hamburger span:nth-of-type(2) {
        top: 15px;
    }

    .hamburger span:nth-of-type(3) {
        top: 25px;
    }

    .hamburger.active span:nth-of-type(1) {
        top: 5px;
        left: 6px;
        transform: translateY(10px) rotate(-45deg);
        width: 100%;
        background-color: #333;
    }

    .hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-of-type(3) {
        top: 25px;
        left: 6px;
        transform: translateY(-10px) rotate(45deg);
        width: 100%;
        background-color: #333;
    }

    nav.header_nav {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fcf9f4;
        z-index: 997;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s linear;
    }

    nav.header_nav.active {
        top: 0;
        opacity: 0.95;
        pointer-events: auto;
        position: fixed;
    }

    nav.header_nav ul {
        display: block;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    nav.header_nav ul li {
        text-align: center;
        margin: 25px 0;
    }

    nav.header_nav ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1.2em;
    }

}


.main__top--img img {
    min-height: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

.slider {
    visibility: hidden;
}

.slider.slick-initialized {
    visibility: visible;
}

.main__top--txt {
    position: absolute;
    left: 120px;
    bottom: 200px;
    color: #fff;
}

.main__top--txt h2 {
    font-size: 5rem;
}

.main__top--txt p {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 20px;
    font-family: "Noto_Serif JP", sans-serif;

}

.sp-only {
    display: none;
}

@media(max-width:768px) {
    .main__top--txt {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap
    }

    .main__top--txt h2 {
        font-size: 2.5rem;
    }

    .main__top--txt p {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .sp-only {
        display: block;
    }


}

/* コンセプト */

.main__title--left {
    font-size: 3.5rem;
    font-style: italic;
    max-width: 1000px;
    margin: 0 auto 90px;
}

.main__title--left::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #282f35;
    vertical-align: middle;
    margin-left: 30px;
}

.concept__title {
    text-align: center;
    font-family: "Noto_Serif JP", sans-serif;
}

.concept__title p {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.concept__inner {
    max-width: 1000px;
    display: flex;
    margin: 60px auto;
}

.concept__inner--txt {
    max-width: 440px;
    font-family: "Noto_Serif JP", sans-serif;
    padding-right: 100px;
    letter-spacing: 0.1em;
    line-height: 2;
}

.main__title-bottom--right {
    max-width: 1200px;
    margin: 0 auto;
    color: #F3F3F3;
    font-size: 6.5rem;
    text-align: right;
    padding: 40px 0;
}

@media(max-width:768px) {
    #concept {
        margin: 0 10px;
    }

    .main__title--left {
        font-size: 1.9rem;
    }

    .main__title--left::after {
        width: 90px;
    }

    .concept__title p {
        font-size: 1.2rem;
    }

    .pc_only {
        display: none;
    }

    .concept__inner {
        display: block;
        padding: 0 15px;
    }

    .concept__inner--txt {
        padding: 0 0 30px;
    }

    .main__title-bottom--right {
        font-size: 3rem;
    }

    section#concept {
        padding-bottom: 5px;
    }
}


/* ワークス */

#main__works {
    background-image: url(img/works-bgi@2x.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}


.main__title--right {
    font-size: 3.5rem;
    font-style: italic;
    max-width: 1000px;
    margin: 0 auto 90px;
    text-align: right;
    color: #FFF;
}

.main__title--right::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #FFF;
    vertical-align: middle;
    margin-left: 30px;
}


.main__works--items {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 15px 0 20px;
}

.main__works--items figure {
    box-sizing: border-box;
    margin-right: 16px;
}

.main__works--items figure:last-child {
    margin-right: 0;
}

figure {
    box-shadow: 0 0 5px #000;
    background-color: #FFF;
}

figure figcaption {
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Noto_Serif JP", sans-serif;
}

.main-btn {
    width: 210px;
    height: 55px;
    line-height: 55px;
    background-color: #F7D43F;
    border-radius: 50px;
    margin: 50px auto;
    text-align: center;
}

.main-btn a {
    color: #171717;
    display: block;
}

.main-btn:hover {
    color: #333;
    opacity: 80%;
    transition: 0.3s;
}

.main__title-bottom--left {
    max-width: 1200px;
    margin: 0 auto;
    color: #424347;
    font-size: 6.5rem;
    padding: 40px 0;
}

@media(max-width:768px) {
    .main__title--right {
        font-size: 1.9rem;
        margin-right: 10px;
    }

    .main__title--right::after {
        width: 90px;
    }

    .main__works--items {
        max-width: 320px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .main__works--items figure {
        margin-bottom: 20px;
        width: 100%;
    }

    figure img {
        width: 100%;
    }

    .main__title-bottom--left {
        font-size: 3rem;
    }
}


/* サービス */

.servise__list {
    width: 100%;
}

.servise__list ul {
    display: flex;
}

.servise__list ul li {
    list-style: none;
    background-image: url(img/service-img01@2x.jpg);
    background-size: cover;
    width: 100%;
    height: 285px;
    line-height: 285px;
    text-align: center;
}

.servise__list ul li:nth-child(2) {
    background-image: url(img/service-img02@2x.jpg);
}

.servise__list ul li:nth-child(3) {
    background-image: url(img/sevice-img03@2x.jpg);
}

.servise__list ul li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #FFF;
    font-style: italic;
    font-size: 2rem;
    transition: .3s;
    background: transparent;
}

.servise__list ul li a:hover {
    background-color: rgba(40, 47, 53, .7);
    transition: .3s;
}

@media(max-width:768px) {
    .servise__list ul {
        display: block;
    }

    .servise__list ul li {
        margin-bottom: 20px;
    }
}

/* コンタクト */

#main__contact {
    background-image: url(img/contact-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
}

#main__contact .main__title-bottom--left {
    padding-top: 70px;
    color: #43484E;
}

.contact__txt {
    padding-top: 100px;
}

.contact__txt .main-btn {
    margin: 120px auto 70px;
}

.contact__txt p {
    color: #fff;
    font-size: 1.2rem;
    font-family: "Noto_Serif JP", sans-serif;
    font-weight: 700;
    text-align: center;
}



/* コンタクトページ */

.contact__top {
    width: 100%;
    background-image: url(img/contact-page-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0 70px;
}

.contact__top h2 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5rem;
    margin-top: 120px;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
}

.contact__top .main__title-bottom--left {
    font-size: 5.5rem;
    margin-top: 10px;
}

.form {
    width: 50%;
    margin: 0 auto;
    font-family: 'Noto Serif JP', serif;
}

.form p {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 8px;
}

.form ul {
    display: flex;
    margin-bottom: 25px;
}

.form ul li {
    list-style: none;
    padding-right: 30px;
}

form .input {
    margin: 5px 0 23px;
    width: 100%;
    height: 30px;
}

textarea {
    width: 100%;
    height: 170px;
}

.submit-btn {
    width: 230px;
    height: 70px;
    line-height: 70px;
    background-color: #F7D43F;
    border-radius: 50px;
    margin: 90px auto;
    text-align: center;
    box-shadow: 0 0 3px #000;
    font-weight: 600;
}

.submit-btn a {
    display: block;
    color: #333;
}

.submit-btn:hover {
    color: #333;
    opacity: 80%;
    transition: 0.3s;
}


footer {
    text-align: center;
    height: 80px;
    width: 100%;
    line-height: 80px;
    font-family: "Noto_Serif JP", sans-serif;
}

@media (max-width:768px) {
    .contact__top {
        padding: 20px 0 50px;
    }

    .contact__top h2 {
        margin-top: 190px;
        font-weight: bold;
    }

    .contact__top .main__title-bottom--left {
        font-size: 2rem;
        margin-top: 20px;
        padding: 0;
    }

    .form {
        width: 85%;
    }

    .form ul {
        display: block;
    }

    .form ul li {
        margin-bottom: 25px;
    }
}